@tailwind base;
@tailwind components;
@tailwind utilities;

.tran {
  transform: rotate(50deg);
}
.tran:hover {
  transform: translateX(0.7rem);
}
.over-contact {
  overflow-y: scroll;
  height: 83vh;
}
.over {
  overflow-y: scroll;
  height: 85vh;
}
